.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    padding: 0 19px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.6s, opacity 0.6s linear;
}

.modal_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.6s;
}

.modal__container {
    position: relative;
    padding: 36px;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
    width: 358px;
}

.modal__close {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
    width: 40px;
    height: 40px;
    background-image: url(../images/close-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s;
}

.modal__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

.modal__heading {
    font-family: "Inter", Arial, sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    font-style: normal;
    color: #000;
    margin: 0;
}

.modal__form {
    display: flex;
    flex-direction: column;
    margin-top: 54px;
}

.modal__input-title {
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 1);
    padding: 0 0 13px;
}

.modal__input-description {
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 1);
    padding: 0 0 13px;
    margin-top: 30px;
}

.modal__button {
    margin-top: 48px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    height: 50px;
    width: 100%;
    padding: 0;
}

.modal__image-container {
    display: flex;
    position: relative;
    margin: auto;
    flex-direction: column;
    max-width: 75vw;
    max-height: 75vh;
}

.modal__image {
    max-width: 75vw;
    max-height: 75vh;
}

.modal__image-caption {
    font-family: "Inter", Arial, sans-serif;
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    margin: 10px 0 0;
}

@media screen and (max-width: 580px) {
    .modal__container {
        padding: 25px 22px;
        width: 238px;
    }

    .modal__close {
        bottom: calc(100% + 18px);
        left: calc(100% - 32px);
        width: 26px;
        height: 26px;
    }

    .modal__close_type_preview {
        bottom: calc(100% + 3px);
        left: calc(100% + 3px);
        width: 30px;
        height: 30px;
    }

    .modal__heading {
        font-size: 18px;
        line-height: 22px;
    }

    .modal__form {
        margin-top: 75px;
    }

    .modal__button {
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
        height: 46px;
    }
}